@import '../../jspm_packages/npm/bourbon@4.2.1/app/assets/stylesheets/bourbon';
@import '../../bower_components/sass-mq/_mq';
@import '../../bower_components/guss-css3/_css3';
@import '../../bower_components/guss-rem/_rem';
@import '../../bower_components/guss-grid-system/_grid-system';
@import '../../bower_components/guss-layout/_row';
@import '../../bower_components/guss-layout/_columns';
@import '../../bower_components/guss-typography/_typography';
@import '../../bower_components/guss-colours/_colours';
@import '../../bower_components/guss-webfonts/_webfonts';
@import '../../bower_components/pasteup-palette/src/_palette';
@import '../../bower_components/pasteup-forms/src/_forms';

@import 'colour';

@include guss-webfonts();
@include guss-typography-defaults;
@include guss-columns-utility;
@include guss-row-utility;
* {
  -webkit-font-smoothing: antialiased;
}
a {
  color: guss-colour(guardian-brand);
  text-decoration: none;
}
body {
    //font: bold 40px/1 sans-serif;
    margin: 0;
}
button {
  cursor: pointer;
  outline: none !important;
}
h3 {
  @include fs-header(1);
  color: guss-colour(neutral-2);

}
h2 {
  @include fs-headline(7);
  margin-top: 0;
  color: guss-colour(neutral-2);
}
figure.interactive {
  margin: 0 !important;
}
.guInteractive {
  background: #eee;
  .l-main {
    position: relative;
    min-height: 100vh;
    max-width: 1260px;
  }
}
.form-field {
  // margin-bottom: 0 !important;
}
input {
  max-width: 600px;
}
.submit-input {
  position: relative;
  top: rem(.05rem);
  padding: 9px 10px;
  outline: none;
  text-align: center;
  padding-bottom: 10px;
}
.js-bloodhound-suggestions {
  margin: 0;
  padding: 0;

  list-style-type: none;
  box-shadow: 1px 1px 1px 1px #eee;
  min-width: 20rem;
  max-width: 37.45rem;
  padding-top: .05rem;
  cursor: pointer;
  transition: background 0.2s ease;
  position:relative;
  top: -1px;
  &:hover {
    background: guss-colour(news-main-2);
  }
  li {
    &:hover {
      background: guss-colour(neutral-6);
    }
    cursor: pointer;
    background: #fff;
    @include fs-textSans(3);
    color: guss-colour(neutral-2);
    padding: 1rem 1rem;
    border-bottom: 1px solid #eee;
    transition: background 0.2s ease;
  }

}
.table__container {
  margin-bottom: 1rem;
}

.pollie-animation {
  @include mq($until: desktop) {
      display: none;
  }
  position: absolute;
  right: 20px;
  height: 154px;
  width: 192px;
  top: 0;

  .inner {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    display: table;
    img {
      position: absolute;
      top: 48px;
    }
    img:nth-child(1){
      z-index: 5;
    }
    img:nth-child(2){
      z-index: 10;
    }
    img:nth-child(3){
      z-index: 0;
    }
  }
}
.guInteractive .ul__party li:last-child {
  @include mq($until: desktop) {
    width: auto !important;
  }
}
.guInteractive .ul__party {
  @include mq($until: desktop) {
    width: auto !important;
  }
}
.guInteractive .col-right {
  @include mq($until: desktop) {
    clear: left;
    padding-top: 1rem;
  }
}
.table .table-column--importance-1 {
  display: table-cell !important;
}
.table__container {
  @include mq($until: desktop) {
    width: 100%;
    overflow-y: scroll;
  }
}
.guInteractive .col-left {
  @include mq($until: desktop) {
    width: auto;
    margin-right: 0px;
    padding-right: 0px;
  }
}
.byline {
  @include mq($until: desktop) {
    clear: both;
  }
}

// SOCIAL ICONS HACK //
// =============================================================================


.social-icon {
  width: 1.875rem;
  height: 1.875rem;
  border: 0.0625rem solid #333;
  padding: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-color: transparent;
  border: 0;
  min-width: 2rem;
  max-width: 100%;
  width: auto;
  height: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 50%;
}
.social-icon, .social-icon:hover, .social-icon:active, .social-icon:focus {
  color: #ffffff;
  text-decoration: none;
}
.social-icon--facebook {
  background-color: #3067a3;
}
.i-share-facebook--white {
  background-position: -16.6875rem -4.625rem;
  width: 2rem;
  height: 2rem;
}
.i-share-facebook--white {
  background-position: -16.6875rem -4.625rem;
  width: 2rem;
  height: 2rem;
}
.social-icon i {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  background-size: 88%;
  background-position: center;
}
.i {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
.i-share-facebook--white {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iLTIgLTIgMzIgMzIiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0xNy45IDE0aC0zdjhIMTJ2LThoLTJ2LTIuOWgyVjguN0MxMiA2LjggMTMuMSA1IDE2IDVjMS4yIDAgMiAuMSAyIC4xdjNoLTEuOGMtMSAwLTEuMi41LTEuMiAxLjN2MS44aDNsLS4xIDIuOHoiLz48L3N2Zz4=);
}

.guInteractive .ul__party li:last-child::after {
  content: "" !important;
}
.social-icon--twitter {
  background-color: #03b3ee;
}
.i-share-twitter--white {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iLTIgLTIgMzIgMzIiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0yMS4zIDEwLjV2LjVjMCA0LjctMy41IDEwLjEtOS45IDEwLjEtMiAwLTMuOC0uNi01LjMtMS42LjMgMCAuNi4xLjguMSAxLjYgMCAzLjEtLjYgNC4zLTEuNS0xLjUgMC0yLjgtMS0zLjMtMi40LjIgMCAuNC4xLjcuMWwuOS0uMWMtMS42LS4zLTIuOC0xLjgtMi44LTMuNS41LjMgMSAuNCAxLjYuNC0uOS0uNi0xLjYtMS43LTEuNi0yLjkgMC0uNi4yLTEuMy41LTEuOCAxLjcgMi4xIDQuMyAzLjYgNy4yIDMuNy0uMS0uMy0uMS0uNS0uMS0uOCAwLTIgMS42LTMuNSAzLjUtMy41IDEgMCAxLjkuNCAyLjUgMS4xLjgtLjEgMS41LS40IDIuMi0uOC0uMy44LS44IDEuNS0xLjUgMS45LjctLjEgMS40LS4zIDItLjUtLjQuNC0xIDEtMS43IDEuNXoiLz48L3N2Zz4=)
}
.guInteractive .ul__party li {
  padding-right: 3px !important;
  float: left;
}
.byline {
  margin-bottom: 0;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "Guardian Text Egyptian Web",Georgia,serif;
  font-weight: bold;
  padding-top: 0.25rem;
  line-height: 1.25rem;
  color: #767676;
}

@media (min-width: 71.25em) {
  .byline {
    clear: both;
    padding-top: 0.125rem;
    border-top: 0.0625rem dotted #dfdfdf;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 0.75rem;
    min-height: 3rem;
  }
}

@media (min-width: 46.25em){
  .byline {
    font-size: 1rem;
    line-height: 1.5rem;
    line-height: 1.375rem;
  }
}
.byline {
  margin-bottom: 0;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "Guardian Text Egyptian Web",Georgia,serif;
  font-weight: bold;
  padding-top: 0.25rem;
  line-height: 1.25rem;
  color: #767676;
}
@include guss-columns(
    $base-class: '.searchable',
    $css3-columns-support: false, // Because buggy in some versions of WebKit
    $columns-fallback-width: (
        tablet: 720px,
        desktop: 940px
    ),
    $columns-fallback-columns: (
        tablet: 2,
        desktop: 4
    )
);
