@import '../../jspm_packages/npm/bourbon@4.2.1/app/assets/stylesheets/bourbon';
@import '../../bower_components/sass-mq/_mq';
@import '../../bower_components/guss-css3/_css3';
@import '../../bower_components/guss-rem/_rem';
@import '../../bower_components/guss-grid-system/_grid-system';
@import '../../bower_components/guss-layout/_row';
@import '../../bower_components/guss-layout/_columns';
@import '../../bower_components/guss-typography/_typography';
@import '../../bower_components/guss-colours/_colours';
@import '../../bower_components/guss-webfonts/_webfonts';
@import '../../bower_components/pasteup-palette/src/_palette';
@import '../../bower_components/pasteup-forms/src/_forms';

@import 'colour';

@include guss-webfonts();
@include guss-typography-defaults;
@include guss-columns-utility;
@include guss-row-utility;
* {
  -webkit-font-smoothing: antialiased;
}
body {
    //font: bold 40px/1 sans-serif;
    margin: 0;
}
h3 {
  @include fs-header(1);
  color: guss-colour(neutral-2);

}
h2 {
  @include fs-headline(7);
  margin-top: 0;
  color: guss-colour(neutral-2);
}
figure.interactive {
  margin: 0 !important;
}
.guInteractive {

  background: #eee;
  .l-main {
    min-height: 100vh;
  }
}
.form-field {
  margin-bottom: 0 !important;
}
input {
  max-width: 600px;
}
.submit-input {
  position: relative;
  top: rem(.05rem);
  padding: 9px 10px;
  outline: none;
  text-align: center;
  padding-bottom: 10px;
}
.js-bloodhound-suggestions {
  margin: 0;
  padding: 0;

  list-style-type: none;
  box-shadow: 1px 1px 1px 1px #eee;
  min-width: 20rem;
  max-width: 37.45rem;
  padding-top: .05rem;
  cursor: pointer;
  transition: background 0.2s ease;
  position:relative;
  top: -1px;
  &:hover {
    background: guss-colour(news-main-2);
  }
  li {
    &:hover {
      background: guss-colour(neutral-6);
    }
    cursor: pointer;
    background: #fff;
    @include fs-textSans(3);
    color: guss-colour(neutral-2);
    padding: 1rem 1rem;
    border-bottom: 1px solid #eee;
    transition: background 0.2s ease;
  }

}
.table__container {
  margin-bottom: 1rem;
}


@include guss-columns(
    $base-class: '.searchable',
    $css3-columns-support: false, // Because buggy in some versions of WebKit
    $columns-fallback-width: (
        tablet: 720px,
        desktop: 940px
    ),
    $columns-fallback-columns: (
        tablet: 2,
        desktop: 4
    )
);
